<h4>Courses List</h4>
<div class="container">
    <table>
        <thead>
             <th>Course ID</th>
             <th>Name</th>
             <th>Location</th>
        </thead>
        <tbody>
             <tr *ngFor="let course of coursesList">
                 <td>{{course.id}}</td>
                 <td>{{course.name}}</td>
                 <td>{{course.location}}</td>
                 <td>
                    <button class="btn waves-effect waves-light red modal-trigger" name="modification" data-target="dl-course" (click)="setCourse(course)"><i class="material-icons">delete</i></button>
                    <button class="btn waves-effect waves-light blue" name="modification"><i class="material-icons">edit</i></button>
                 </td>
             </tr>
        </tbody>
    </table>
</div>

<courses-cmp-delete [course]="course" (newCoursesList)="updatingList($event)"></courses-cmp-delete>
