<div class="row">
 <form [formGroup]="searchOptForm">
    <div class="input-field col s3">
      <select formControlName="searchOption">
        <option *ngFor="let opt of searchGradeOptions" [ngValue]="opt">
            {{ opt }}
        </option>
      </select>
      <label>Searching grades option</label>
   </div>
   <div class="row">
      <div class="input-field col s3">
            <input id="searching-field" type="text" formControlName="searchField" class="validate">
            <label for="searching-field">Insert dentification</label>
      </div>
  </div>
</form>
</div>

