<h4>Courses List</h4>
<div class="container">
    <table>
        <thead>
             <th>Course ID</th>
             <th>Name</th>
             <th>Location</th>
        </thead>
        <tbody>
             <tr *ngFor="let course of coursesList">
                 <td>{{course.id}}</td>
                 <td>{{course.name}}</td>
                 <td>{{course.location}}</td>
                 <td>
                    <button class="btn waves-effect waves-light red modal-trigger" name="modification" data-target="dl-course" (click)="setCourse(course)"><i class="material-icons">delete</i></button>
                    <button class="btn waves-effect waves-light blue" name="modification"><i class="material-icons">edit</i></button>
                 </td>
             </tr>
        </tbody>
    </table>
</div>

  <!-- Modal Delete Course info -->
<div id="dl-course" class="modal">
    <div class="modal-content">
      <h6>Are you sure you want to delete this course?</h6>
      <div align="left">
        <label>Course ID</label>
        <input disabled value="{{course.id}}" type="text" class="validate">
        <label>Name</label>
        <input disabled value="{{course.name | uppercase}}" type="text" class="validate">
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn waves-effect waves-light red modal-close" (click)="deleteCourse()">Accept</button>
    </div>
</div>
